.main {
  padding-top: 50px;
}

.infos {
  background: rgba(244, 244, 244, 0.56);
  color: #313131;
  border-radius: 10px;
  padding: 30px 50px 40px;

  h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;

    p {
      font-size: 1.25rem;
    }
  }
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
  border: 1px solid #8532af;
  background: #8532af;
  border-radius: 15px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  transition: background 0.32s ease;

  &:hover,
  &:active,
  &:focus,
  &:focus-within {
    background: #741f9f;
  }

  svg {
    margin-left: 10px;
    font-size: 1.25em;
  }
}

.form {
  display: flex;
  flex-direction: column;
  padding-top: 30px;

  label {
    margin: 10px 0;
    font-weight: 700;
    max-width: 300px;
    input[type="text"],
    input[type="email"] {
      display: block;
      margin-top: 10px;
      padding: 10px 20px;
      width: 100%;
    }

    input[type="checkbox"] {
      width: 20px;
      height: 20px;
      margin-left: 10px;
      margin-bottom: -10px;
    }
  }

  button {
    margin-top: 20px;
    align-self: flex-start;
  }
}
